<!-- Edit Book -->
<h2 class="page-header">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <a href="/books">Cancel</a>
    <button type="submit">Update</button>
</form>

<!-- paste it after post if not using "file pond" enctype="multipart/form-data" -->