<!-- New Book -->
<h2>New Book</h2>
<form action="/books" method="POST">
    <%- include('_form_fields') %> 
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>

<!-- paste it after post if not using "file pond" enctype="multipart/form-data" -->